header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem $padding-layout;
  z-index: 30;

  background-color: transparent;
  color: $black;

  transition: all 0.3s ease-in-out;

  @include media("<=phone") {
    padding: 2rem 2rem;
  }

  path {
    fill: $black;
  }
  .menu-ico {
    position: absolute;
    left: 10rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    display: none;
    @include media("<=phone") {
      display: flex;
    }
  }
  .header-menu {
    position: absolute;
    left: 10rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    @include media("<=phone") {
      display: none;
    }
    a {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: -0.1rem;
        bottom: -0.3rem;
        width: 0;
        height: 1px;
        background-color: $black;
        transition: width 0.3s ease-in-out;
      }
      &:hover::after {
        width: calc(100% + 0.2rem);
      }
    }
  }
  .header-bar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    li {
      cursor: pointer;
    }
    .header-bag {
      position: relative;
      .bag-qty {
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        top: -0.6rem;
        right: -0.6rem;
        font-size: 0.8rem;
        background-color: red;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3rem;
        border-radius: 50%;
      }
    }
  }
}

header.white {
  background-color: transparent;
  color: $white;

  path {
    fill: $white;
  }

  .header-menu {
    a {
      &::after {
        background-color: $white;
      }
    }
  }
}

header.sticky {
  background-color: $white;
  border-bottom: 1px solid $color-border;
  padding: 1.5rem $padding-layout;
  @include media("<=phone") {
    padding: 1.5rem 2rem;
  }
}
