.bag {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40rem;
  height: 100vh;
  background-color: $white;
  color: $black;
  z-index: 200;
  transition: right 0.56s cubic-bezier(0.28, 0.81, 0.43, 0.97);
  @include media("<=phone") {
    width: 100%;
  }
  &.open {
    right: 0;
  }
  .left {
    position: relative;
    width: 85%;
    height: 100vh;
    border-right: 1px solid $color-border;
    @include media("<=phone") {
      width: 100%;
    }
    .bag-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5rem 4rem 2rem 4rem;
      @include media("<=phone") {
        padding: 2rem;
      }

      .title {
        display: flex;
        align-items: flex-start;
        gap: 0.3rem;
        font-size: 1.5rem;
        font-weight: 700;
        .total-qty {
          font-size: 1rem;
        }
      }
      .bag-close {
        cursor: pointer;
      }
    }
    .bag-products {
      position: relative;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      padding: 1rem 4rem;
      overflow-y: auto;
      max-height: 50vh;
      @include media("<=phone") {
        padding: 2rem;
      }

      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background-color: $light;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $black;
      }

      .bag-product {
        width: 100%;
        height: auto;
        display: flex;
        gap: 0.5rem;
        .bag-product-image {
          position: relative;
          min-width: 6rem;
          height: 6rem;
          img {
            position: relative;
            object-fit: cover;
            width: 100%;
          }
        }
        .bag-product-info-wrap {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: space-between;
          .bag-product-box-first {
            display: flex;
            flex-direction: column;
            padding-left: 1.5rem;
            .bag-product-title {
              font-size: 1.1rem;
              font-weight: 700;
              margin-bottom: 0.5rem;
            }
            .bag-product-category {
              opacity: 0.3;
            }
            .bag-product-qty {
              margin-top: 1rem;
              display: flex;
              align-items: center;
              gap: 1rem;
              user-select: none;
              span {
                cursor: pointer;
              }
            }
          }
        }
        .bag-product-box-second {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          width: 17rem;
          .bag-product-price {
            display: flex;
            flex-wrap: nowrap;
          }
          .bag-product-remove {
            padding-bottom: 0.7rem;
            cursor: pointer;
            user-select: none;
          }
        }
      }
    }
    .bag-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 2.5rem 4rem 2rem 4rem;
      border-top: 1px solid $color-border;
      @include media("<=phone") {
        padding: 2rem;
      }
      .bag-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 2rem 0;
        .total-sum {
          font-size: 1.4rem;
          font-weight: 700;
        }
      }
      .bag-checkout {
        position: relative;
        display: block;
        width: 100%;
        padding: 1.2rem;
        color: $white;
        background-color: $black;
        text-align: center;
        font-size: 0.85rem;
      }
      .bag-notice {
        text-align: center;
        display: block;
        font-size: 0.8rem;
        margin-top: 1.5rem;
        color: $color-middle;
      }
    }
  }
  .right {
    position: relative;
    width: 15%;
  }
}

.bag-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 190;
  &.open {
    display: block;
  }
}
