html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 1.3rem;
}

header {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(244, 244, 244);
  padding: 30px;
}

main {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.item-wrap {
  position: relative;
  width: 20%;
  padding: 20px;
  cursor: pointer;
}

.item-wrap:hover {
  box-shadow: 4px 4px 20px rgba(222, 222, 222, 0.7);
}

.img-wrap {
  position: relative;
  width: 100%;
  height: 170px;
}

.img-wrap img {
  position: relative;
  width: 100%;
  object-fit: cover;
}
