header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  &.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $white;
    color: $black;
    border-bottom: 1px solid $color-border;
    padding: 1.5rem 6rem;
    .logo {
      color: $black;
    }
    ul.main-menu {
      li {
        a {
          color: $black;
        }
      }
    }
    .header-right-bar {
      .bag-wrap {
        .bag-icon {
          fill: $black;
        }
      }
    }
  }
  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: $white;
  }
  ul.main-menu {
    position: absolute;
    left: 17rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    height: 4rem;
    li {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: $white;
      }
    }
    li.active a {
      color: $white;
    }
    li.active::after {
      content: "";
      position: absolute;
      left: -1rem;
      bottom: 0;
      width: calc(100% + 2rem);
      height: 1px;
      background-color: $black;
      z-index: 2;
    }
  }
  .search-wrap {
    position: relative;
    pointer-events: none;
    display: flex;
    align-items: center;
    padding-right: 1rem;

    svg {
      opacity: 0.4;
      transition: opacity 0.4s ease-in-out;
    }

    input {
      position: relative;
      min-width: 250px;
      background-color: $white;
      pointer-events: auto;
      &:focus-visible ~ .line {
        width: 100%;
      }
      &:focus-visible ~ svg {
        opacity: 1;
      }
    }

    .line {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: $black;
      z-index: 2;
      transition: width 0.4s ease-in-out;
    }
  }

  .header-right-bar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3rem;
    .bag-wrap {
      span.bag-qty {
        position: absolute;
        background-color: rgb(226, 25, 25);
        color: $white;
        top: -0.7rem;
        right: -0.7rem;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
      }
      .bag-icon {
        cursor: pointer;
        position: relative;
        fill: $white;
      }
    }
  }
}
