@import "./fonts.scss";

$title-ff: "SFPRO", sans-serif;
$default-ff: "SFPRO", sans-serif;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$light: #f5f5f7;
$dark: rgb(31, 31, 31);
$color-middle: rgb(161, 161, 161);
$color-border: #e5e5e6;

*,
*::after,
*::before {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
::selection {
  background: $black;
  color: $white;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $default-ff;
  font-weight: 400;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-ff;
  margin: 0;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}

a.button {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  background-color: $black;
  color: $white;
  padding: 1rem 1.8rem;
  border-radius: 5rem;
}

input,
select {
  padding: 1rem;
  border-radius: 0;
  border: 1px solid $color-border;
  margin-bottom: 1rem;
  appearance: none;
  &::placeholder {
    color: $color-middle;
  }
  &:focus-within,
  &:focus-visible {
    border-radius: 0;
    border: 1px solid $black;
    outline: 0;
  }
}

main {
  position: relative;
  width: 100%;
}
section {
  position: relative;
  width: 100%;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

section.hero {
  position: relative;
  .slider-wrap {
    position: relative;
    width: 100%;
    .slider {
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;
      border-radius: 1rem;
      background-color: $light;
      .content-wrap {
        position: relative;
        width: 50%;
        padding: 0 0 0 6rem;
        top: 50%;
        translate: 0 -50%;
        span.subtitle {
          color: $color-middle;
          display: block;
          margin-bottom: 1rem;
        }
        span.title {
          font-size: 3rem;
          font-weight: 700;
          display: block;
        }
      }
      .image-wrapper {
        position: absolute;
        height: 90%;
        bottom: 0;
        width: calc(50% - 3rem);
        right: 3rem;
        img {
          object-fit: contain;
        }
      }
    }
  }
}

section.shop-list {
  position: relative;
  margin: 5rem 0;
  .items-shop {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .item-wrap {
      position: relative;
      width: 25%;
      padding: 2rem;
      cursor: pointer;
      text-align: center;
      .img-wrap {
        position: relative;
        width: 200px;
        height: 230px;
        margin: 0 auto;
        img {
          position: relative;
          width: 100%;
          object-fit: cover;
        }
      }
      span.category {
        display: block;
        margin: 2rem 0 0 0;
        color: $color-middle;
      }

      p.desc {
        color: $color-middle;
      }
    }
  }
}
@import "./layout.scss";
@import "./pages.scss";
@import "./bag.scss";
@import "./product.scss";
